<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar usuario</title>
</head>
<body>
    <h1>Agregar usuario</h1>
    <!-- <form th:action="@{/user/add}" th:object="${thUsuario}" method="post"> -->
    <form th:action="@{/user/add}" th:object="${user}" method="post">
        <p>Id: <input type="number" th:field="*{id}" /></p>
        <p>Nombre: <input type="text" th:field="*{nombres}" /></p>
        <p>Apellidos: <input type="text" th:field="*{apellidos}" /></p>
        <p>Teléfono: <input type="text" th:field="*{telefono}" /></p>
        <p>Correo: <input type="email" th:field="*{correo}" /></p>
        <p>Dirección: <input type="text" th:field="*{direccion}" /></p>
        <p><input type="submit" value="Guardar" /></p>
    </form>
</body>
</html>