<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Servicios</title>
</head>
<body>

	<table border="1">
		<thead>
			<tr>
				<th><h1>Nombre</h1></th>
				<th><h1>Apellido</h1></th>
			<tbody th:each="persona :${p}"><tr>
				<th>
					<h3>
						<span th:text="${persona.nombre}"></span>
					</h3>
				</th>

				<th>
					<h3>
						<span th:text="${persona.apellido}"></span>
					</h3>

				</th>
			</tr>
		</tbody>

	</table>
</body>
</html>